body{
    font-family: arial,sans-serif;
    background: #ffffff;
    color: #000000;
    height: 97vh;
    
    
   
}
.grid{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "body"
    "footer";
    margin: 8px;
    height: 100%;
    
}

header{
    grid-area: "header";
}

main{
    grid-area: "body";
    justify-self: center;
    align-self: center;
    
}

footer{
    grid-area: "footer";
    
    margin: auto;
}

.me{
    width: 32px;
    height: 32px;
    background-image: url(../images/me.jpg);
    background-size: 32px 32px;
}
.hed{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
#loupe{
    height: 20px;
    width: 20px;
}
#voice{
    height: 24px;
    width: 24px;
}